<!DOCTYPE html>
<html>
<head>
	<link rel='icon' href='/img/favicon.png'>
	<title>Weather</title>
	<link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
	<div class='main-content'>
		{{>header}}
		<form>
			<input placeholder='Location'> 
			<button>Get Forecast</button>
		</form>

		<p id='forecast-location'></p>
		<p id='forecast-text'></p>
		<p id='forecast-wind'></p>
	</div>
	{{>footer}}
	<script src='/js/app.js'></script>
</body>
</html>